<div class="container-fluid bg-dark h-100" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(/assets/img/m_w_vL6XDSdvmec_unsplash.jpg);">
  <div class="row align-items-center" style="height:400px">
    <div class="col d-flex align-items-center ps-5 pe-5">
      <h1 class="display-6 mt-8 text-white">Consulta el estado de tu orden ingresando el código de tu pedido</h1></div>
    <div class="col">
      <div class=" d-flex align-items-center form-group p-5">
        <input type="email" class="form-control p-2" id="#" placeholder="Ingrese el número del pedido">
        <!-- <button class="btn btn-primary p-2" (click)="open(mymodal)">Consultar</button> -->
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #mymodal let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="consultaPedidoLabel">Estado del pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cerrar</button>
        </div>
      </div>
</ng-template> -->



