

.carousel-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -25em;
    /* margin-left: 25em; */
    align-self: center;
    justify-content: center;
}
.button-carousel{
    padding-right: 5em;
    padding-left: 5em;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    margin-bottom: 1em;
}

.title {
    font-family: 'Poppins','sans-serif';
    font-weight: 500;
    /* color: #1D7A8C; */
    color: black;
    margin-bottom: 0.5em;
}

.subtitle {
    margin-bottom: 1em;
    color:#3a5257;
}

.button-secondary {
    padding-right: 2em;
    padding-left: 2em;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    margin-left: 1em;
    color: #1D7A8C;
    margin-bottom: 1em;
}