<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active drk">
        <img src="/assets/img/jacob_schwartz_unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-3">Ordena tu torta fácil y sin complicaciones</h1>
          <button class="btn btn-primary mt-2">Comenzar mi pedido</button>
        </div>
      </div>
      <div class="carousel-item drk">
        <img src="/assets/img/taylor_kiser_unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-3">Consulta fácil y rápido el estado de tu pedido</h1>
          <button class="btn btn-primary mt-2">Ingresa tu número de pedido</button>
        </div>
      </div>
      <div class="carousel-item drk">
        <img src="/assets/img/david_holifield_unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-3">Agréganos a whatsapp para más ofertas</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>