<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Contacténos</title>
  <link rel="stylesheet" href="forms-contact.component.css">
</head>
<body>
  <main>

  <form action="" class="formulario" id="formulario">
    <fieldset>

      <div>
        <label for="name">Name</label>
        <input id="name" name="name" title="Favor ingresa tu nombre." required placeholder="Ingresa tu nombre" >
      </div>

      <div>
        <label for="name">Email</label>
        <input  type="email" id="email" name="email" required placeholder="Favor ingresa tu email.">
      </div>

      <div>
        <label for="name">Phone</label>
        <input type="number" id="phone" name="phone" title="Favor ingresa tu teléfono." required placeholder="Ingresa tu teléfono" required>
      </div>

      <div>
      <input type="submit" value="Enviar">
      </div>

    </fieldset>
  </form>
 </main>
</body>
</html>
