<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="footer.component.css">
  <title>RRSS</title>
</head>
<body>
<a href="#" class="logo"><img src="../../../assets/img/icake-nobg.png" height="50px"  alt="Logo"></a>
<h5>Follow us:</h5>

<div class="redes-container">
    <a href="https://www.facebook.com/profile.php?id=100022753602942" class="facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/icakeforme/" class="instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/Icake80742558" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="email"><i class="fas fa-envelope"></i></a>


</div>
<h5>Icake, a party without cake is just a meeting. <i class="fa fa-copyright" aria-hidden="true"></i>Copyright all rights reserved.</h5>
</body>
</html>


