<nav class="navbar navbar-expand-lg navbar-light bg-NavFoot">
  <a class="navbar-brand" href="#"><img src="../../../assets/img/icake-nobg.png" alt="" height="80"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link active" aria-current="page" href="#carouselId">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="#contact">Contáctenos</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="#tracking">Mi pedido</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="#order">Hacer un pedido</a></li>
    </ul>
  </div>
</nav>
