<!-- <header>
    <img src="../../../assets/img/icake-nobg.png" alt="" height="150px">

    <div role="group" aria-label="Botones del header">
        <button type="button" class="boton-header">Inicio</button>
        <button type="button" class="boton-header">Contáctanos</button>
        <button type="button" class="boton-header">Inicia sesión</button>
        <button type="button" class="boton-header">Regístrate</button>
    </div>
</header> -->

<nav>
    <a href="#" class="logo"><img src="../../../assets/img/icake-nobg.png" alt="Logo"></a>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Contáctenos</a></li>
        <li><a href="#">Pedido</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>