header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
}

/* @font-face {
    font-family: Montserrat-Bold;
    src: url(../../../assets/fonts/Montserrat-Bold.ttf);
} */

.boton-header {
    color: #1D7A8C;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover{
    color:#FF7D97;
}

img {
    margin:0;
}