    <div class="container order-color" id="order">
        <div class="my-5 text-center row">
            <h2 class="section-subheading">Sigue los siguientes pasos fácil y ordena fácil y sin complicaciones</h2>
        </div>
        <div class="my-5 text-center row">
            <div class="col-md-6">
                <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/karly-gomez-rotFzR9lX0E-unsplash.jpg" alt="..." /></div>
                <h5 class="my-3">Escoge el sabor de tu torta</h5>
                <div class="col">
                    <button class="btn btn-md btn-primary" href="#pedido">Hacer mi pedido</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg" alt="..." /></div>
                <h5 class="my-3">Ingresa tus datos y confirma el pedido</h5>
                <div class="col">
                    <button class="btn btn-md btn-primary" href="#tracking">Estado de mi pedido</button>
                </div>
            </div>
        </div>
    </div>