    <div class="container order-color" id="order">
        <div class="my-5 text-center row">
            <h2 class="section-subheading">Completa tu orden en tan solo tres pasos</h2>
        </div>
        <div class="my-5 text-center row">
            <div class="col-md-4">
                <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/karly-gomez-rotFzR9lX0E-unsplash.jpg" alt="..." /></div>
                <h5 class="my-3">Escoge el sabor de tu torta</h5>
            </div>
            <div class="col-md-4">
                <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg" alt="..." /></div>
                <h5 class="my-3">Ingresa tus datos y confirma el pedido</h5>
            </div>
            <div class="col-md-4">
                <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/ana_tavares_unsplash.jpg" alt="..." /></div>
                <h5 class="my-3">Sigue tu pedido en línea</h5>
            </div>
            <div class="mt-5 mb-3 text-center row">
                <div class="col">
                    <button class="btn btn-md btn-primary" (click)="open()">Hacer mi pedido</button>
                </div>
            </div>
        </div>
    </div>