<div class="container p-5 order-styles" id="order">
            <div class="text-center col-12 row">
                <h2>Sigue los siguientes pasos, ordena fácil y sin complicaciones</h2>
            </div>
            <div class="text-center row">
                <div class="col-6 col-md-6">
                    <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/karly-gomez-rotFzR9lX0E-unsplash.jpg" alt="..." /></div>
                    <h5 class="my-3">Escoge tamaño, sabor y cobertura</h5>
                    <div class="col">
                        <button class="btn btn-md btn-primary" href="#pedido">Empezar mi orden</button>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="timeline-image"><img class="rounded-circle img-fluid img-thumbnail" src="assets/img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg" alt="..." /></div>
                    <h5 class="my-3">Sigue el estado de tu pedido</h5>
                    <div class="col">
                        <button class="btn btn-md btn-primary" href="#tracking">Seguir mi pedido</button>
                    </div>
                </div>
            </div>
</div>