<table class="table table-striped">
    <thead>
      <tr>
        <th class="col-1" scope="col">Pedido</th>
        <th class="col-1" scope="col">Tamaño</th>
        <th class="col-1" scope="col">Sabor</th>
        <th class="col-1" scope="col">Cobertura</th>
        <th class="col-2" scope="col">Mensaje</th>
        <th class="col-1" scope="col">Cliente</th>
        <th class="col-1" scope="col">Teléfono</th>
        <th class="col-2" scope="col">Dirección</th>
        <th class="col-1" scope="col">Valor</th>
        <th class="col-1" scope="col">Estado del pedido</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>Chocolate</td>
        <td>Caramelo</td>
        <td>Feliz eumpleaños camila</td>
        <td>Roberto Fernandez</td>
        <td>3214567890</td>
        <td>Calle 34 # 45 23 Torre 5 Apto 201</td>
        <td>$10.000</td>
        <td>
          <div class="mb-3 input-group">
            <select class="custom-select" id="inputGroupSelect01">
              <option value="1">Nuevo</option>
              <option value="2">En proceso</option>
              <option value="3">Enviado</option>
              <option selected value="4">Entregado</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>1</td>
        <td>Chocolate</td>
        <td>Caramelo</td>
        <td>Feliz eumpleaños camila</td>
        <td>Roberto Fernandez</td>
        <td>3214567890</td>
        <td>Calle 34 # 45 23 Torre 5 Apto 201</td>
        <td>$40.000</td>
        <td>
          <div class="mb-3 input-group">
            <select class="custom-select" id="inputGroupSelect01">
              <option value="1">Nuevo</option>
              <option value="2">En proceso</option>
              <option value="3">Enviado</option>
              <option selected value="4">Entregado</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>1</td>
        <td>Chocolate</td>
        <td>Caramelo</td>
        <td>Feliz eumpleaños camila</td>
        <td>Roberto Fernandez</td>
        <td>3214567890</td>
        <td>Calle 34 # 45 23 Torre 5 Apto 201</td>
        <td>$35.000</td>
        <td>
            <div class="mb-3 input-group">
                <select class="custom-select" id="inputGroupSelect01">
                  <option value="1">Nuevo</option>
                  <option value="2">En proceso</option>
                  <option value="3">Enviado</option>
                  <option selected value="4">Entregado</option>
                </select>
              </div>
        </td>
      </tr>
    </tbody>
  </table>