<section id="pedido" class="container" #scroll>
    <article class="content" *ngFor="let title of titles; index as index">
        <h1 class="text-center title">{{titles[index]}}</h1>
        <div class="select"></div>
    </article>
</section>


<div class="dropdown" *ngIf="position<3">
    <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Seleccionar
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let opcion of opciones[position];"
            (click)="onSelect(opcion.value, opcion.name)">{{opcion.name}}</a>
    </div>
</div>

<div *ngIf="position===3">
    <form class="was-validated">
        <div class="mb-3">
          <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Mensaje requerido" required #mensaje (keyup)="onGetMensaje(mensaje.value)">
          </textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg" (click)="next()">Enviar</button>
    </form>
</div>
 
<div *ngIf="position==4">
    <h1 class="text-center title">¿Estás registrado?</h1>
    <form style="align-items:center">
        <input type="text" id="cedula" class="col-12" style="margin-bottom: 1em; border-radius: 20px;padding: 30;" placeholder="Cédula"  #cedula (keyup)="onGetCedulaCliente(cedula.value)">
        <a pButton type="submit" class="col-6 p-button-rounded" style="background-color: '#FF7D97'; border-color: '#FF7D97'; align-self: center; font-weight: 700;" (click)="onValidarCliente()">Validar datos</a>
        <button type="submit" class="btn btn-outline-primary btn-lg" (click)="next()">Registrarse</button>
    </form>
</div>

<div *ngIf="position==5">
    <h1 class="text-center title">Datos del cliente</h1>
    <form>
        <div class="form-group">
            
            <div class="col-md-8">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <input id="fname" name="name" type="text" placeholder="Nombres y apellidos " class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input id="fname" name="name" type="text" placeholder="Cédula" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input id="fname" name="name" type="text" placeholder="Ciudad" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input id="fname" name="name" type="text" placeholder="Dirección" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input id="fname" name="name" type="text" placeholder="Datos de dirección adicionales" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input id="fname" name="name" type="text" placeholder="Celular" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg" (click)="next()">Ver resumen pedido</button>
    </form>
</div>

<div *ngIf="position === 6">
    <h1 class="text-center title">Ya casi tienes tu iCake!</h1>
    <p>Este es el resumen de la orden de tu torta: </p>
    <p>Tamaño: {{tamanoSeleccionado}}</p>
    <p>Sabor de bizcocho: {{saborSeleccionado}}</p>
    <p>Cobertura: {{coberturaSeleccionado}}</p>
    <p>Mensaje: {{mensajeEscrito}}</p>
    <button (click)="onSubmitPedido()" class="btn btn-primary">Enviar pedido</button>
    <button class="btn btn-outline-primary btn-lg">Volver al inicio</button>
</div>

<div *ngIf=" position === 7">
    <h1 class="text-center title">¡Hemos recibido tu pedido!</h1>
    <p>El ID de tu orden es: {{idPedido}}</p>
</div>

<br>

<button class="next btn btn-outline-primary btn-lg" *ngIf="position<3" (click)="next()">Siguiente</button>
<br>
<button class="previous btn btn-outline-primary btn-lg" *ngIf="position>0" (click)="previous()">Anterior</button> 


<label for="price" class="control-label">Precio total</label>
<p class="price">{{priceTotal | currency}}</p>