<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <img src="/assets/img/icake-nobg-hr.png" width="200" alt="">
                <div class="social-container">
                    <a href="https://www.facebook.com/profile.php?id=100022753602942" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/icakeforme/" class="social"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Icake80742558" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <h6>Ingresa con tu usuario de administrador</h6>
                <input type="email" placeholder="Correo" required/>
                <input type="password" placeholder="Contraseña" required/>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button class="ingreso">Ingresar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img class="rounded-circle img-fluid img-thumbnail" src="/assets/img/ana_tavares_unsplash.jpg" alt="">
                    <h1 class="mt-2">¡Bienvenido de vuelta, Jefe!</h1>
                </div>
            </div>
        </div>
    </main>
</body>
</html>