<div class="container col-12">
    <p class="h3" style="color: azure; margin-bottom: 1em;">Consulta el estado de tu orden</p>
    <form action="" style="align-items:center">
        <input type="text" id="cedula" class="col-12" style="margin-bottom: 1em; border-radius: 20px;padding: 30;">
        <input pButton type="submit" class="col-6 p-button-rounded" value="¿Dónde está mi torta?"
            style="background-color: '#FF7D97'; border-color: '#FF7D97'; align-self: center; font-weight: 700;">
    </form>



</div>