.container {
    /* height: auto; */
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    height: 20em;
    background-image: url('https://i.ibb.co/RcF8gr0/order.png');
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    align-items: center;
  /* background-size: 1000px 300px; */
  background-size: cover;
  /* align-self: 'center'; */
};

.button-carousel{
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    margin-bottom: 1em;
    align-items: center;
}

